In [2]:
import pandas as pd
import geopandas as gpd

In [3]:
df = pd.read_csv("data/gazetteers/own_places.csv")
df

,Unnamed: 0,LAT,LONG,FC,CC1,NT,SORT_NAME_RO,FULL_NAME_RO,FULL_NAME_ND_RO,SORT_NAME_RG,FULL_NAME_RG,FULL_NAME_ND_RG
0,NaN,-8.7832,34.5085,NaN,NaN,NaN,AFRICA,Africa,NaN,NaN,NaN,NaN